.result-container {
    height: 70vh; /* Set the desired height of the scroll pane */
    overflow-y: auto;
    border: 1px solid #ccc;
  }
  
  .scroll-pane {
    padding: 10px;
  }
  
  .news-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
  }

div.top-pane {
  height: 50px;
}

div.bottom-pane {
  height: 100px;
}

select {
  width: 15%;
  font-size: 22px;
  border-radius: 5;
}

button {
  width: 15%;
  font-size: 22px;
  border-radius: 5;
}