.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 50px;
  width: 100vw;
  background-color: #44bcd8;
}

.nav-pane{
  height: inherit;
  width: inherit;
  background-color: #69bdd2;
}

.redirect_button{
  height: inherit;
  width: 15vw;
  background-color: #69bdd2;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border: none


}

.redirect_button:hover {
  background-color: #cce7e8;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,0.5);;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 750px;
  height: 700px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.flex {
  display: flex;
}

.flex-50 {
  flex: 50%
}